- const customers = [["Jane Cooper", "Microsoft", "(225) 555-0118", "jane@microsoft.com", "United States", "Active"],["Floyd Miles", "Yahoo", "(205) 555-0100", "floyd@yahoo.com", "Kiribati", "Inactive"],["Ronald Richards", "Adobe", "(302) 555-0107", "ronald@adobe.com", "Israel", "Inactive"],["Marvin McKinney", "Tesla", "(252) 555-0126", "marvin@tesla.com", "Iran", "Active"],["Jerome Bell", "Google", "(629) 555-0129", "jerome@google.com", "Réunion", "Active"],["Kathryn Murphy", "Microsoft", "(406) 555-0120", "kathryn@microsoft.com", "Curaçao", "Active"],["Jacob Jones", "Yahoo", "(208) 555-0112", "jacob@yahoo.com", "Brazil", "Active"],["Kristin Watson", "Facebook", "(704) 555-0127", "kristin@facebook.com", "Åland Islands", "Inactive"],];
tbody
    each customer in customers
      tr
        each value, index in customer
          if index === 5
            td
              if value === "Active"
                button.active.button Active
              else
                button.inactives.button  Inactive
          else
            td #{value}

